In [3]:
d={'Ammar': 676,'Suresh':3423,'Lubna':234,'Adil':454}
a=input('Enter key to search')

if a in d.keys():
    print('Key is present ')
    print('Its vale is ',d[a])
else:
    print('invalid key')

Key is present
Its vale is  234

In [4]:
d1={'Ammar': 676,'Suresh':3423,'Lubna':234,'Adil':454}
d2={'Ali': 676,'Tariq':3423}

In [5]:
d1.update(d2)
d1

{'Ammar': 676,
 'Suresh': 3423,
 'Lubna': 234,
 'Adil': 454,
 'Ali': 676,
 'Tariq': 3423}

In [8]:
for i,j in d1.items():
    print(f'the key is {i} and val is {j} ')

the key is Ammar and val is 676
the key is Suresh and val is 3423
the key is Lubna and val is 234
the key is Adil and val is 454
the key is Ali and val is 676
the key is Tariq and val is 3423

In [11]:
n=int(input('enter a nth vslue'))

d={'key'+str(i):i**2 for i in range(1,n+1)}
print(d)

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16, 'key5': 25, 'key6': 36, 'key7': 49, 'key8': 64, 'key9': 81}

In [24]:
a=input('enter a string or strings')

l=a.split()
# print(l)

d={i[0]:i for i in l}
print(d)

{'o': 'one', 't': 'two'}

In [23]:
a=input('enter a string')
x=a.split()
b=input('enter a string of same length')
z=b.split()
d={}
# if len(a)==len(b):
d={x:z for i in x }
print(d)   

# else:
#     print('both length are not same ')

both length are not same