In [1]:
import pandas as pd

## Series DS

In [14]:
x=[1,2,4,5]

var=pd.Series(x)
print((var))

# access the through the index 
print('this is a type',type(var))
print('this is a element through the index :' ,var[2])

0    1
1    2
2    4
3    5
dtype: int64
this is a type <class 'pandas.core.series.Series'>
this is a element through the index : 4

In [16]:
# if i want to change the index 

var=pd.Series(x,index=['a','b','c','d'])
var

a    1
b    2
c    4
d    5
dtype: int64

In [19]:
# giving name to data as well as the dtype
var=pd.Series(x,index=['a','b','c','d'],name='pandas series',dtype=float)
var

a    1.0
b    2.0
c    4.0
d    5.0
Name: pandas series, dtype: float64

In [26]:
d={'name':['python','c','c++','java'],'experience':[1,2,3,4],'rank':[1,4,3,2]}
val=pd.Series(d)
print(val)

name          [python, c, c++, java]
experience              [1, 2, 3, 4]
rank                    [1, 4, 3, 2]
dtype: object

In [36]:
# series of a particular number upto n
num=12
s=pd.Series(12,index=[x for x in range(9)])
s1=pd.Series(12,index=[1,2,3,4])
print(s)
s1

0    12
1    12
2    12
3    12
4    12
5    12
6    12
7    12
8    12
dtype: int64

1    12
2    12
3    12
4    12
dtype: int64

In [38]:
# addition of two arrays
print(s+s1)
# if other series has no vlaues then it appends NAN in place of sum

0     NaN
1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
8     NaN
dtype: float64

## Data Frame

In [39]:
import pandas as pd

In [43]:
data=[1,2,3,'one','two','three']
d=pd.DataFrame(data)

print('this is a type',type(d))
print()
print('this is a dataframe : \n',d)

this is a type <class 'pandas.core.frame.DataFrame'>

this is a dataframe :
        0
0      1
1      2
2      3
3    one
4    two
5  three

In [53]:
dic={  'a':[1,2,3,4,5,6,7,8],'s': ['a','b','c','d','e','f','g','h']}
d=pd.DataFrame(dic)
d

   a  s
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
5  6  f
6  7  g
7  8  h

In [60]:
# accessing a particulr column/columns
dic={  'a':[1,2,3,4,5,6,7,8],'s': ['a','b','c','d','e','f','g','h'],1:[55,33,22,33,45,66,77,90]}
d=pd.DataFrame(dic,columns=['a'])
d=pd.DataFrame(dic,columns=['a',1])

# lists must be of same lengths
d

   a   1
0  1  55
1  2  33
2  3  22
3  4  33
4  5  45
5  6  66
6  7  77
7  8  90

In [75]:
# now accessing the data from a particular row

dic={  'a':[1,2,3,4,5,6,7,8],'s': ['a','b','c','d','e','f','g','h'],1:[55,33,22,33,45,66,77,90]}
d=pd.DataFrame(dic)

print(d['s'][3])

d

In [78]:
# building dataframe from a series 
sr={'s':pd.Series([1,2,3,4]),'r':pd.Series([5,6,7,8])}
df=pd.DataFrame(sr)
df

   s  r
0  1  5
1  2  6
2  3  7
3  4  8

In [89]:
import numpy as np 

arrr=np.array([[1,2,3,4,5,'b'],[3,5,6,7,8,'a']])
arrr.dtype

dtype('<U11')